# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.17
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - dependency-cache-{{ checksum "yarn.lock" }}
          # fallback to using the latest cache if no exact match is found
          - dependency-cache-
      - run:
          name: Setup Environment Variables
          command: |
            echo "export GIT_SHA1=$(echo ${CIRCLE_SHA1} | cut -c -7)" >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Setup markdownlint-cli
          command: sudo npm install -g markdownlint-cli
      - run:
          name: Lint Markdown files
          command: |
            markdownlint ./README.md
            markdownlint ./HOW_TO_CONTRIBUTE.md
            markdownlint ./CHANGELOG.md
            markdownlint ./MAINTAINERS.md
      - run:
          name: yarn install
          command: 'yarn install --pure-lockfile --no-progress'
      - save_cache:
          paths:
            - node_modules
          key: dependency-cache-{{ checksum "yarn.lock" }}
      - run: yarn lint
      - run: yarn test
      - run:
          name: Create directories for Artifacts
          command: mkdir -p ~/artifacts/scalyr_plugin/target/
      - run: 
          name: Build artifacts
          command: |
            yarn build
            cp -rf dist/ ~/artifacts/scalyr_plugin/
            echo Plugin git sha is ${GIT_SHA1}
            cd ~/artifacts/scalyr_plugin/ && tar -czvf scalyr_grafana_plugin_${GIT_SHA1}.tar.gz dist/ && mv scalyr_grafana_plugin_${GIT_SHA1}.tar.gz target/
      - persist_to_workspace:
          root: ~/artifacts/scalyr_plugin/target/
          paths:
            - scalyr_grafana_plugin_*.tar.gz
      - store_artifacts:
          path: ~/artifacts/scalyr_plugin/target/
          destination: scalyr_grafana_plugin
  
  deploy-to-github-releases:
    docker: 
      - image: circleci/golang:1.12
    steps:
      - attach_workspace:
          at: ~/artifacts/scalyr_plugin/
      - run:
          name: "Publish Release on GitHub"
          command: |
            go get github.com/tcnksm/ghr
            VERSION=${CIRCLE_TAG}
            echo Releasing version $VERSION
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} /home/circleci/artifacts/scalyr_plugin/

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/

      - deploy-to-github-releases:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              # See https://discuss.circleci.com/t/filter-job-by-tag-not-working-regexp-possibly-unsupported/28484
              only: /^(\d|[1-9]\d*)\.(\d|[1-9]\d*)\.(\d|[1-9]\d*)(-(0|[1-9A-Za-z-][0-9A-Za-z-]*|[0-9]*[A-Za-z-][0-9A-Za-z-]*)(\.(0|[1-9A-Za-z-][0-9A-Za-z-]*|[0-9]*[A-Za-z-][0-9A-Za-z-]*))*)?(\+[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?$/
