<div class="gf-form-group">
  <div class="gf-form-inline">
    <div class="gf-form gf-form--grow">
      <input
       class="gf-form-input"
       placeholder="query expression"
       ng-model="ctrl.annotation.queryText"
       ></input>
    </div>
  </div>
</div>

<div class="gf-form-group">
	<h6>Field mappings</h6>
	<div class="gf-form-inline">
		<div class="gf-form">
			<span class="gf-form-label">Time</span>
			<input type="text" class="gf-form-input max-width-14" ng-model='ctrl.annotation.timeField' placeholder="timestamp"></input>
		</div>
		<div class="gf-form">
			<span class="gf-form-label">Time End</span>
			<input type="text" class="gf-form-input max-width-14" ng-model='ctrl.annotation.timeEndField' placeholder=""></input>
		</div>
		<div class="gf-form">
			<span class="gf-form-label">Text</span>
			<input type="text" class="gf-form-input max-width-14" ng-model='ctrl.annotation.textField' placeholder="message"></input>
		</div>
    </div>
</div>