<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
  <div class="gf-form-inline">
    <div class="gf-form">
      <span class="gf-form-label width-10">Query Type</span>
      <gf-form-dropdown model="ctrl.target.queryType"
        get-options="ctrl.getQueryTypeOptions()">
      </gf-form-dropdown>
    </div>
  </div>
  <div class="gf-form-inline" ng-if="ctrl.target.queryType === ctrl.queryTypes.POWER_QUERY">
    <div class="gf-form">
      <span class="gf-form-label width-10">Query</span>
      <textarea rows="5" cols="100" class="gf-form-input" ng-blur="ctrl.onChangeInternal()" ng-model="ctrl.target.queryText"></textarea>
    </div>
  </div>
  <div class="gf-form-inline" ng-if="ctrl.target.queryType === ctrl.queryTypes.STANDARD_QUERY">
    <div class="gf-form">
      <span class="gf-form-label width-10">Function</span>
      <gf-form-dropdown model="ctrl.target.function"
        get-options="ctrl.getFacetFunctionOptions()"
        on-change="ctrl.onChangeInternal()"
        class="width-10">
      </gf-form-dropdown>
    </div>
    <div class="gf-form">
      <span class="gf-form-label width-10">Facet</span>
      <input type="text" class="gf-form-input" ng-disabled='ctrl.target.function === "count"' ng-model="ctrl.target.facet" placeholder="Facet" ng-model-options="{debounce: 1000}" ng-change="ctrl.onChangeInternal()"/>
    </div>
    <div class="gf-form">
      <span class="gf-form-label width-10">Conversion Factor</span>
      <input type="text" class="gf-form-input" ng-model="ctrl.target.conversionFactor" placeholder="e.g. 1/1024" ng-model-options="{debounce: 1000}" ng-change="ctrl.onChangeInternal()">
    </div>
  </div>
  <div class="gf-form-inline" ng-if="ctrl.target.queryType === ctrl.queryTypes.STANDARD_QUERY">
    <div class="gf-form">
      <span class="gf-form-label width-10">Label</span>
      <input type="text" class="gf-form-input width-10" ng-model="ctrl.target.label" placeholder="Label for query" />
    </div>
    <div class="gf-form gf-form--grow">
      <span class="gf-form-label width-10">Query</span>
      <input type="text" class="gf-form-input" ng-change="ctrl.onChangeInternal()" ng-model-options="{debounce: 1000}" ng-model="ctrl.target.queryText" placeholder="Enter Scalyr Query" />
    </div>
  </div>
  <div class="gf-form-inline" ng-if="ctrl.target.queryType === ctrl.queryTypes.STANDARD_QUERY">
    <div class="gf-form gf-form--grow">
      <span class="gf-form-label width-10">DataLink URL</span>
      <span class="gf-form-input" ng-bind="ctrl.target.dataLink">{{ctrl.target.dataLink}}</span>
      <button class="btn navbar-button gf-timepicker-nav-btn width-5" ng-click="ctrl.copyDataLink()">{{ctrl.target.copyText}}</button>
    </div>
  </div>
</query-editor-row>
